In [44]:
#import libraries
import pandas as pd

In [45]:
#load dataset
df1 = pd.read_excel("Bank_Churn_Messy.xlsx", sheet_name=0)
df2 = pd.read_excel("Bank_Churn_Messy.xlsx", sheet_name=1)

df = pd.merge(df1, df2, on=["CustomerId", "Tenure"])

df.head(20)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,15634602,Hargrave,619,FRA,Female,42.0,2,€101348.88,€0.0,1,Yes,Yes,1
1,15634602,Hargrave,619,FRA,Female,42.0,2,€101348.88,€0.0,1,Yes,Yes,1
2,15647311,Hill,608,Spain,Female,41.0,1,€112542.58,€83807.86,1,Yes,Yes,0
3,15619304,Onio,502,French,Female,42.0,8,€113931.57,€159660.8,3,No,No,1
4,15701354,Boni,699,FRA,Female,39.0,1,€93826.63,€0.0,2,No,No,0
5,15737888,Mitchell,850,Spain,Female,43.0,2,€79084.1,€125510.82,1,Yes,Yes,0
6,15574012,Chu,645,Spain,Male,44.0,8,€149756.71,€113755.78,2,No,No,1
7,15592531,Bartlett,822,France,Male,50.0,7,€10062.8,€0.0,2,Yes,Yes,0
8,15656148,Obinna,376,Germany,Female,29.0,4,€119346.88,€115046.74,4,No,No,1
9,15792365,He,501,French,Male,44.0,4,€74940.5,€142051.07,2,Yes,Yes,0
10,15592389,H?,684,France,Male,27.0,2,€71725.73,€134603.88,1,Yes,Yes,0
11,15767821,Bearce,528,French,Male,31.0,6,€80181.12,€102016.72,2,No,No,0
12,15737173,Andrews,497,Spain,Male,24.0,3,€76390.01,€0.0,2,No,No,0
13,15632264,Kay,476,FRA,Female,34.0,10,€26260.98,€0.0,2,No,No,0
14,15691483,Chin,549,France,Female,25.0,5,€190857.79,€0.0,2,No,No,0
15,15600882,Scott,635,Spain,Female,35.0,7,€65951.65,€0.0,2,Yes,Yes,0
16,15643966,Goforth,616,Germany,Male,45.0,3,€64327.26,€143129.41,2,Yes,Yes,0
17,15737452,Romeo,653,Germany,Male,58.0,1,€5097.67,€132602.88,1,No,No,1
18,15788218,Henderson,549,Spain,Female,24.0,9,€14406.41,€0.0,2,Yes,Yes,0
19,15661507,Muldrow,587,Spain,Male,45.0,6,€158684.81,€0.0,1,No,No,0

In [46]:
#inspect the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004 entries, 0 to 10003
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10004 non-null  int64
 1   Surname          10001 non-null  object
 2   CreditScore      10004 non-null  int64
 3   Geography        10004 non-null  object
 4   Gender           10004 non-null  object
 5   Age              10001 non-null  float64
 6   Tenure           10004 non-null  int64
 7   EstimatedSalary  10004 non-null  object
 8   Balance          10004 non-null  object
 9   NumOfProducts    10004 non-null  int64
 10  HasCrCard        10004 non-null  object
 11  IsActiveMember   10004 non-null  object
 12  Exited           10004 non-null  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 1016.2+ KB

In [47]:
#check for missing values
df.isnull().sum()

CustomerId         0
Surname            3
CreditScore        0
Geography          0
Gender             0
Age                3
Tenure             0
EstimatedSalary    0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
Exited             0
dtype: int64

In [48]:
#check for duplicate
duplicated = df.duplicated().sum()
print(duplicated)

4

In [53]:
#handle missing values
df.dropna(inplace=True)
df.isnull().sum()

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
EstimatedSalary    0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
Exited             0
dtype: int64

In [58]:
#handle duplicated values
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [66]:
df.head(20)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,15634602,Hargrave,619,FRA,Female,42.0,2,€101348.88,€0.0,1,Yes,Yes,1
2,15647311,Hill,608,Spain,Female,41.0,1,€112542.58,€83807.86,1,Yes,Yes,0
3,15619304,Onio,502,French,Female,42.0,8,€113931.57,€159660.8,3,No,No,1
4,15701354,Boni,699,FRA,Female,39.0,1,€93826.63,€0.0,2,No,No,0
5,15737888,Mitchell,850,Spain,Female,43.0,2,€79084.1,€125510.82,1,Yes,Yes,0
6,15574012,Chu,645,Spain,Male,44.0,8,€149756.71,€113755.78,2,No,No,1
7,15592531,Bartlett,822,France,Male,50.0,7,€10062.8,€0.0,2,Yes,Yes,0
8,15656148,Obinna,376,Germany,Female,29.0,4,€119346.88,€115046.74,4,No,No,1
9,15792365,He,501,French,Male,44.0,4,€74940.5,€142051.07,2,Yes,Yes,0
10,15592389,H?,684,France,Male,27.0,2,€71725.73,€134603.88,1,Yes,Yes,0
11,15767821,Bearce,528,French,Male,31.0,6,€80181.12,€102016.72,2,No,No,0
12,15737173,Andrews,497,Spain,Male,24.0,3,€76390.01,€0.0,2,No,No,0
13,15632264,Kay,476,FRA,Female,34.0,10,€26260.98,€0.0,2,No,No,0
14,15691483,Chin,549,France,Female,25.0,5,€190857.79,€0.0,2,No,No,0
15,15600882,Scott,635,Spain,Female,35.0,7,€65951.65,€0.0,2,Yes,Yes,0
16,15643966,Goforth,616,Germany,Male,45.0,3,€64327.26,€143129.41,2,Yes,Yes,0
17,15737452,Romeo,653,Germany,Male,58.0,1,€5097.67,€132602.88,1,No,No,1
18,15788218,Henderson,549,Spain,Female,24.0,9,€14406.41,€0.0,2,Yes,Yes,0
19,15661507,Muldrow,587,Spain,Male,45.0,6,€158684.81,€0.0,1,No,No,0
20,15568982,Hao,726,French,Female,24.0,6,€54724.03,€0.0,2,Yes,Yes,0

In [69]:
df["Geography"].unique()

array(['FRA', 'Spain', 'French', 'France', 'Germany'], dtype=object)

In [70]:
df["Geography"].replace({
    "FRA": "France",
    "French": "France"
}, inplace=True)

df["Geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)