In [1]:
#import libraries
import pandas as pd

In [13]:
# create an employee messy dataset
data = {
    "EMPID": [101, 102, "103", 104, 105, 106, None, 108, 109, 110],
    "fullName": [
        "Alice Johnson", "MICHEAL smith", "sarah lee", 
        "David-kim", None, "john brown", "Emma Wilson", 
        "TOM davis", "Jane Miller", "Chris taylor"
    ],
    "Dept": ["IT", "hr", "Mktng", "IT", "finance", "marketing", "Finance", None, "HR", "marketing"],
    "Age": ["29", "thirty-five", 26, 31, 42, 27, 33, 30, None, 28],
    "Salary($)": ["$5500.50", "4800", "4200.71", "NaN", "6100", "4,300", "5000", "5800", "4700.0", "4400"],
    "JoinDate": [
        "2021/04/12", "2020/11/01", "18/01/2020", "2019/9/02", 
        "July 5, 2018", "2021/10/14", "2019.12.01", "March 22 2020", 
        "2021-05-10", "Feb-05-2022"
    ],
    "Performance": [87, 73, 90, 65, 82, 75, 88, None, "79%", "91"],
    "Remote": ["Yes", "No", "Y", "N", "yes", "no", "Y", "Yes", None, True]
}

# convert the dictionary data to pandas dataframe
df = pd.DataFrame(data)
df.to_csv("data/dataset1.csv", index=False)

df1 = pd.read_csv("data/dataset1.csv")
df1

,EMPID,fullName,Dept,Age,Salary($),JoinDate,Performance,Remote
0,101.0,Alice Johnson,IT,29,$5500.50,2021/04/12,87,Yes
1,102.0,MICHEAL smith,hr,thirty-five,4800,2020/11/01,73,No
2,103.0,sarah lee,Mktng,26,4200.71,18/01/2020,90,Y
3,104.0,David-kim,IT,31,NaN,2019/9/02,65,N
4,105.0,NaN,finance,42,6100,"July 5, 2018",82,yes
5,106.0,john brown,marketing,27,"4,300",2021/10/14,75,no
6,NaN,Emma Wilson,Finance,33,5000,2019.12.01,88,Y
7,108.0,TOM davis,NaN,30,5800,March 22 2020,NaN,Yes
8,109.0,Jane Miller,HR,NaN,4700.0,2021-05-10,79%,NaN
9,110.0,Chris taylor,marketing,28,4400,Feb-05-2022,91,True